<h1>{{.Title1}}</h1>
<ul>
    {{range .BuildTasks}}
        <li id="{{.Id2Hex}}"><b>ID: {{.Id2Hex}}</b></li>
        <li>Status: {{.Status}}</li>
        <li>Commits:
            <ul>
                {{range .Config.SourceConfig.Commits}}
                <li>ID: {{.Id}}</li>
                <li>Message: {{.Message}}</li>
                <li>Timestamp: {{.Timestamp}}</li>
                <li>URL: <a href="{{.Url}}">{{.Url}}</a></li>
                <li>Committer:
                    <ul>
                     <li>name: {{.Committer.Name}}</li> 
                     <li> email: {{.Committer.Email}}</li>
                     <li>username: {{.Committer.Username}}</li>
                    </ul>
                <li>URL: {{.Url}}</li>
                <li>URL: {{.Url}}</li>
                {{end}}
            </ul>
        </li>
    <br>
    {{end}}
</ul>
<h1>{{.Title2}}</h1>
<ul>
    {{range .DeployTasks}}
    <li><b>ID: {{.Id2Hex}}</b></li>
    <li>Build task ID: <a  href="#{{.BuildTaskId2Hex}}">{{.BuildTaskId2Hex}}</a></li>
    <li>Status: {{.Status}}</li>
    <li>Pre-install: {{.Config.PreInstall}}</li>
    <li>Post-install: {{.Config.PostInstall}}</li>
    <li>ContainerConfig:
        <ul>
            <li>Image name: {{.Config.ContainerConfig.ImageName}}</li>
            <li>Image tag: {{.Config.ContainerConfig.ImageTag}}</li>
            <li>Service name: {{.Config.ContainerConfig.ServiceName}}</li>
            <li>Mount target: {{.Config.ContainerConfig.MountTarget}}</li>
            <li>Auto remove: {{.Config.ContainerConfig.AutoRemove}}</li>
        </ul>
    </li>
    <br>
{{end}}
</ul>