<div>
<h1>Pipelines</h1>
{{range .}}
<div>Name: <b>{{.Name}}</b> Status: <b>{{.Status}}</b></div>
<ul>
    <li>ID: {{.Id2Hex}}</li>
    <li>Repo watched: {{.RepoWatched}}</li>
    <li>Auto run: {{.AutoRun}}</li>
    <li>Executed at: {{.ExecutedAt2Str}}</li>
    <li>Stopped at: {{.StoppedAt2Str}}</li>
    <li>Arguments: {{.Arguments}}</li>
</ul>
<details>
    <summary>Tasks</summary>
    <ol>
    {{range .Tasks}}
    <li style="margin-bottom:10px">Name: <b>{{.Name}}</b> Status: <b>{{.Status}}</b> <span style="margin-left: 20px"><button onclick="alert(`Don't be silly, my friend!`)">RUN</button> <button  onclick="alert(`Not yet implemented.`)">EDIT</button></span></li>
    <ul>
        <li>ID: {{.Id2Hex}}</li>
        <li>Upstream task ID: {{.UpstreamtaskId2Hex}}</li> 
        <li>Stream webhook: {{.StreamWebhook}}</li> 
        <li>Auto run: {{.AutoRun}}</li>
        <li>Executed at: {{.ExecutedAt2Str}}</li>
        <li>Stopped at: {{.StoppedAt2Str}}</li>
        <li>Remarks: 
            {{if .Remarks}}
            <p>{{.Remarks}}</p>
            {{end}}
        </li>
        <li>Logs: <a href="#">N/A</a></li>
        <li>
            <details>
            <summary>Config</summary>
            <ul>
                <li>Script:
                    <pre>{{.Config.Script}}</pre>
                </li>
            </ul>
            </details>
        </li>
    </ul>
    <br>
    {{end}}
    </ol>

</details>
<hr>
{{end}}
</div>