<h1>{{.Title1}}</h1>
<ul>
    {{range .BuildTasks}}
        <li>ID: {{.Id}}</li>
        <li>Status: {{.Status}}</li>
        <li>
            <ul>Commits: 
                {{range .Config.SourceConfig.Commits}}
                <li>ID: {{.Id}}</li>
                <li>Message: {{.Message}}</li>
                <li>Timestamp: {{.Timestamp}}</li>
                {{end}}
            </ul>
        </li>
    {{end}}
</ul>
<h1>{{.Title2}}</h1>
<ul>
    {{range .DeployTasks}}
        <li>{{.Id}}
            <span>{{.Details}}</span>
        </li>
    {{end}}
</ul>